<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<form th:method="post" th:action="@{/users}" th:object="${user}">
    <p>
        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name"/>
    </p>
    <p>
        <label for="surname">Фамилия:</label>
        <input type="text" th:field="*{surname}" id="surname"/>
    </p>
    <p>
        <label for="age">Возраст:</label>
        <input type="text" th:field="*{age}" id="age"/>
    </p>
    <input type="submit" value="Создать"/>
</form>

</body>
</html>